spring:
  application:
    name: gateway
  profiles:
    active: prod

  config:
    import: "optional:configserver:"

  cloud:
    config:
      uri: http://localhost:10355        # Config Server 주소
      fail-fast: true                    # Config 서버 연결 실패 시 즉시 종료
      label: main                        # Config Repo 브랜치
      profile: ${spring.profiles.active} # dev 또는 prod, 실행 시 지정

